* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  color: #404041;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  width: 100%;
}

.section-background-img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.page-section-title-separation {
  display: inline-block;
  width: 80px;
  height: 2px;
}

.page-header {
  background-color: #f2f2f2;
  position: relative;
}

.header-item {
  position: relative;
  padding: calc(var(--vh, 1vh) * 20) 5vw;
}

.header-item h2 {
  font-size: 2rem;
  border-bottom: solid 1px #fff;
  padding-bottom: 5px;
}

.page-section {
  padding: 80px 5vw;
  text-align: center;
}

.page-section h2 {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 800;
  color: #404041;
  margin-bottom: 0px;
}

.page-section-title p {
  color: #404041;
  font-size: 1.1rem;
  margin-top: 5px;
}

/* PRODUCT DISPLAY SECTION */

.home-product-display {
  background-color: #f1f1f2;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
}

.home-product-display .page-section-title-separation {
  background-color: #404041;
}

.glossary-link {
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 2px;
  color: #fff;
  padding: 4px 40px 4px 30px;
  clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
  border-radius: 35px 0 0 35px;
}

.home-product-display .glossary-link {
  background-color: #404041;
}

/* TIPOS DE PRODUCTO SLIDER SECTION */

.product-types {
  border-bottom: solid #d0d2d3 6px;
}

.product-type-item {
  text-align: center;
}

.product-type-item-img {
  display: inline-block;
  width: 100px;
  text-align: center;
}

.product-type-item img {
}

.product-type-item p {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
}

/* HOME BRAND SECTION */

.home-brand {
  background-image: url("../images/ge-home-brand.jpg");
  color: #fff;
}

.home-brand-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-brand-container > img {
  width: 60%;
  max-width: 250px;
}

.home-brand-container > div {
  margin-top: 30px;
}

.home-brand-text {
  text-align: left;
}

.home-brand-text h3 {
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.home-brand-text-division {
  display: block;
  background-color: #fff;
  height: 1px;
}

.home-brand-text p {
  font-size: 0.9rem;
  letter-spacing: 0.5px;
}

/* HOME VIDEO SECTION */

.video-section {
  height: calc(var(--vh, 1vh) * 80);
  padding: 0 5vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/produccion-bkg.jpg");
}

.video-section video {
  display: none;
}

.video-section-text {
  color: #fff;
}

.video-section-text h2 {
  font-weight: 800;
  margin-bottom: 5px;
}

.video-section-text .page-section-title-separation {
  background-color: #fff;
}

.video-section-text p {
  font-size: 0.9rem;
  letter-spacing: 0.5px;
}

/* CERTIFICACIONES SECTION */

.certificaciones-section .page-section-title-separation {
  background-color: #404041;
}

.certificaciones-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.certificacion-item {
  width: 60%;
  max-width: 250px;
  margin: 30px 0;
}

.certificacion-item img {
  width: 100%;
}

footer {
  text-align: center;
  background-image: url("../images/footer-bkg.jpg");
  padding: 20px 5vw;
  color: #fff;
}

footer h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

footer .page-section-title-separation {
  display: block;
  margin: 0 auto;
  background-color: #fff;
  margin-bottom: 15px;
}

footer .footer-mp-container {
  display: inline-block;
  width: 40%;
  max-width: 220px;
  margin: 30px 0;
}

footer p {
  margin: 0;
}

footer .footer-ge-container {
  display: inline-block;
  width: 30%;
  max-width: 100px;
  margin: 30px 0;
}
